{% extends "cityhopper/base.html" %}
{% block content %}

<h2>Thanks, your payment has been processed! Please see your QR code
below this is your ticket!  </h2>

<div class>
<!-- Seperator -->
</div>

<div class>
<!-- Seperator -->
</div>


<div class>
<!-- Seperator -->
</div>


<div class>
  <!-- Seperator -->
</div>

<div class>
<!-- Seperator -->
</div>


<div class>
<!-- Seperator -->
</div>


<div class>
  <!-- Seperator -->
</div>



<div class="content-section">
  {% load qr_code %}

    {% qr_from_text user_id size="m" image_format="png" error_correction="L" %}

</div>
{% endblock content %}
